body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #b7e4c7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  background: #d8f3dc;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.weather-box {
  margin-top: 20px;
}

input {
  padding: 10px;
  font-size: 16px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid #999;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin-left: 10px;
  border: none;
  background-color: #40916c;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #2d6a4f;
}

#weatherResult {
  margin-top: 20px;
  font-size: 18px;
}
